<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <script>
        let timer;
        let timeLeft = 60;

        function startTimer() {
            const timerElement = document.getElementById("timer");
            timer = setInterval(() => {
                if (timeLeft <= 0) {
                    clearInterval(timer);
                    document.getElementById("next-btn").click();  // 자동으로 다음으로 이동
                } else {
                    timerElement.textContent = `Time Left: ${timeLeft}s`;
                    timeLeft--;
                }
            }, 1000);
        }
    </script>
</head>
<body onload="startTimer()">
    <form action="/result" method="POST">
        {% for question in questions %}
        <div class="question">
            <h3>{{ question.question }}</h3>
            {% for option in question.options %}
            <div>
                <input type="radio" name="answer-{{ loop.index0 }}" value="{{ option }}" required>
                <label>{{ option }}</label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button id="next-btn" class="btn">Submit Answers</button>
    </form>
    <div id="timer">Time Left: 60s</div>
</body>
</html>
